In [1]:
import yfinance as yf

In [2]:
tesla = yf.download('TSLA', start= '2019-01-01', end ='2020-08-17')
apple = yf.download('AAPL', start= '2019-01-01', end ='2020-08-17')
microsoft = yf.download('MSFT', start= '2019-01-01', end ='2020-08-17')
amazon = yf.download('AMZN', start= '2019-01-01', end ='2020-08-17')
facebook = yf.download('FB', start= '2019-01-01', end ='2020-08-17')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
[tesla.head(), amazon.head(), facebook.head(),microsoft.head(),apple.head()]

[                  Open        High         Low       Close   Adj Close  \
 Date
 2018-12-31  337.790009  339.209991  325.260010  332.799988  332.799988
 2019-01-02  306.100006  315.130005  298.799988  310.119995  310.119995
 2019-01-03  307.000000  309.399994  297.380005  300.359985  300.359985
 2019-01-04  306.000000  318.000000  302.730011  317.690002  317.690002
 2019-01-07  321.720001  336.739990  317.750000  334.959991  334.959991

               Volume
 Date
 2018-12-31   6302300
 2019-01-02  11658600
 2019-01-03   6965200
 2019-01-04   7394100
 2019-01-07   7551200  ,
                    Open         High          Low        Close    Adj Close  \
 Date
 2018-12-31  1510.800049  1520.760010  1487.000000  1501.969971  1501.969971
 2019-01-02  1465.199951  1553.359985  1460.930054  1539.130005  1539.130005
 2019-01-03  1520.010010  1538.000000  1497.109985  1500.280029  1500.280029
 2019-01-04  1530.000000  1594.000000  1518.310059  1575.390015  1575.390015
 2019-01-07  1602.310059  1634.560059  1589.189941  1629.510010  1629.510010

              Volume
 Date
 2018-12-31  6954500
 2019-01-02  7983100
 2019-01-03  6975600
 2019-01-04  9182600
 2019-01-07  7993200  ,
                   Open        High         Low       Close   Adj Close  \
 Date
 2018-12-31  134.449997  134.639999  129.949997  131.089996  131.089996
 2019-01-02  128.990005  137.509995  128.559998  135.679993  135.679993
 2019-01-03  134.690002  137.169998  131.119995  131.740005  131.740005
 2019-01-04  134.009995  138.000000  133.750000  137.949997  137.949997
 2019-01-07  137.559998  138.869995  135.910004  138.050003  138.050003

               Volume
 Date
 2018-12-31  24625300
 2019-01-02  28146200
 2019-01-03  22717900
 2019-01-04  29002100
 2019-01-07  20089300  ,
                   Open        High         Low       Close   Adj Close  \
 Date
 2018-12-31  101.290001  102.400002  100.440002  101.570000   99.540192
 2019-01-02   99.550003  101.750000   98.940002  101.120003   99.099190
 2019-01-03  100.099998  100.190002   97.199997   97.400002   95.453529
 2019-01-04   99.720001  102.510002   98.930000  101.930000   99.893005
 2019-01-07  101.639999  103.269997  100.980003  102.059998  100.020401

               Volume
 Date
 2018-12-31  33173800
 2019-01-02  35329300
 2019-01-03  42579100
 2019-01-04  44060600
 2019-01-07  35656100  ,
                   Open        High         Low       Close   Adj Close  \
 Date
 2018-12-31  158.529999  159.360001  156.479996  157.740005  154.340271
 2019-01-02  154.889999  158.850006  154.229996  157.919998  154.516388
 2019-01-03  143.979996  145.720001  142.000000  142.190002  139.125412
 2019-01-04  144.529999  148.550003  143.800003  148.259995  145.064575
 2019-01-07  148.699997  148.830002  145.899994  147.929993  144.741714

               Volume
 Date
 2018-12-31  35003500
 2019-01-02  37039700
 2019-01-03  91312200
 2019-01-04  58607100
 2019-01-07  54777800  ]

In [4]:
amazon.to_csv('Data/amazon.csv', index= False)
tesla.to_csv('Data/tesla.csv', index = False)
apple.to_csv('Data/apple.csv', index = False)
facebook.to_csv('Data/fb.csv', index = False)
microsoft.to_csv('Data/microsoft.csv', index = False)

In [5]:
import pandas as pd

In [6]:
objects = [amazon, tesla,apple, facebook, microsoft]
for obj in objects:
    obj.reset_index(inplace = True)

In [7]:
date = tesla['Date']

In [8]:
objects = [amazon, tesla,apple, facebook, microsoft]
all_data = pd.DataFrame(date)
for obj in objects:
    all_data = pd.merge(left = all_data, right = obj, how = 'inner', on = 'Date')

In [9]:
all_data.head()

,Date,Open_x,High_x,Low_x,Close_x,Adj Close_x,Volume_x,Open_y,High_y,Low_y,...,Low_y,Close_y,Adj Close_y,Volume_y,Open,High,Low,Close,Adj Close,Volume
0,2018-12-31,1510.800049,1520.760010,1487.000000,1501.969971,1501.969971,6954500,337.790009,339.209991,325.260010,...,129.949997,131.089996,131.089996,24625300,101.290001,102.400002,100.440002,101.570000,99.540192,33173800
1,2019-01-02,1465.199951,1553.359985,1460.930054,1539.130005,1539.130005,7983100,306.100006,315.130005,298.799988,...,128.559998,135.679993,135.679993,28146200,99.550003,101.750000,98.940002,101.120003,99.099190,35329300
2,2019-01-03,1520.010010,1538.000000,1497.109985,1500.280029,1500.280029,6975600,307.000000,309.399994,297.380005,...,131.119995,131.740005,131.740005,22717900,100.099998,100.190002,97.199997,97.400002,95.453529,42579100
3,2019-01-04,1530.000000,1594.000000,1518.310059,1575.390015,1575.390015,9182600,306.000000,318.000000,302.730011,...,133.750000,137.949997,137.949997,29002100,99.720001,102.510002,98.930000,101.930000,99.893005,44060600
4,2019-01-07,1602.310059,1634.560059,1589.189941,1629.510010,1629.510010,7993200,321.720001,336.739990,317.750000,...,135.910004,138.050003,138.050003,20089300,101.639999,103.269997,100.980003,102.059998,100.020401,35656100

In [10]:
cols = all_data.columns
cols

Index(['Date', 'Open_x', 'High_x', 'Low_x', 'Close_x', 'Adj Close_x',
       'Volume_x', 'Open_y', 'High_y', 'Low_y', 'Close_y', 'Adj Close_y',
       'Volume_y', 'Open_x', 'High_x', 'Low_x', 'Close_x', 'Adj Close_x',
       'Volume_x', 'Open_y', 'High_y', 'Low_y', 'Close_y', 'Adj Close_y',
       'Volume_y', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'],
      dtype='object')

In [11]:
new_cols= ['Date','Open_amzn', 'High_amzn', 'Low_amzn', 'Close_amzn', 'Adj_Close_amzn', 'Volume_amzn',
           'Open_tesla', 'High_tesla', 'Low_tesla', 'Close_tesla', 'Adj_Close_tesla', 'Volume_tesla',
           'Open_apple', 'High_apple', 'Low_apple', 'Close_apple', 'Adj_Close_apple', 'Volume_apple',
           'Open_facebook', 'High_facebook', 'Low_facebook', 'Close_facebook', 'Adj_Close_facebook', 'Volume_facebook',
           'Open_microsoft', 'High_microsoft', 'Low_microsoft', 'Close_microsoft', 'Adj_Close_microsoft', 'Volume_microsoft']

In [12]:
all_data.columns = new_cols

In [13]:
all_data.head()

,Date,Open_amzn,High_amzn,Low_amzn,Close_amzn,Adj_Close_amzn,Volume_amzn,Open_tesla,High_tesla,Low_tesla,...,Low_facebook,Close_facebook,Adj_Close_facebook,Volume_facebook,Open_microsoft,High_microsoft,Low_microsoft,Close_microsoft,Adj_Close_microsoft,Volume_microsoft
0,2018-12-31,1510.800049,1520.760010,1487.000000,1501.969971,1501.969971,6954500,337.790009,339.209991,325.260010,...,129.949997,131.089996,131.089996,24625300,101.290001,102.400002,100.440002,101.570000,99.540192,33173800
1,2019-01-02,1465.199951,1553.359985,1460.930054,1539.130005,1539.130005,7983100,306.100006,315.130005,298.799988,...,128.559998,135.679993,135.679993,28146200,99.550003,101.750000,98.940002,101.120003,99.099190,35329300
2,2019-01-03,1520.010010,1538.000000,1497.109985,1500.280029,1500.280029,6975600,307.000000,309.399994,297.380005,...,131.119995,131.740005,131.740005,22717900,100.099998,100.190002,97.199997,97.400002,95.453529,42579100
3,2019-01-04,1530.000000,1594.000000,1518.310059,1575.390015,1575.390015,9182600,306.000000,318.000000,302.730011,...,133.750000,137.949997,137.949997,29002100,99.720001,102.510002,98.930000,101.930000,99.893005,44060600
4,2019-01-07,1602.310059,1634.560059,1589.189941,1629.510010,1629.510010,7993200,321.720001,336.739990,317.750000,...,135.910004,138.050003,138.050003,20089300,101.639999,103.269997,100.980003,102.059998,100.020401,35656100

In [14]:
all_data.to_csv('Data/all_combined.csv', index = False)

In [15]:
all_data.shape

(410, 31)