In [1]:
import yfinance as yf

In [8]:
tesla = yf.download('TSLA', start= '2020-01-01', end ='2020-08-17')
apple = yf.download('AAPL', start= '2020-01-01', end ='2020-08-17')
microsoft = yf.download('MSFT', start= '2020-01-01', end ='2020-08-17')
amazon = yf.download('AMZN', start= '2020-01-01', end ='2020-08-17')
facebook = yf.download('FB', start= '2020-01-01', end ='2020-08-17')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [10]:
[tesla.head(), amazon.head(), facebook.head(),microsoft.head(),apple.head()]

[                  Open        High         Low       Close   Adj Close  \
 Date
 2019-12-31  405.000000  421.290009  402.079987  418.329987  418.329987
 2020-01-02  424.500000  430.700012  421.709991  430.260010  430.260010
 2020-01-03  440.500000  454.000000  436.920013  443.010010  443.010010
 2020-01-06  440.470001  451.559998  440.000000  451.540009  451.540009
 2020-01-07  461.399994  471.630005  453.359985  469.059998  469.059998

               Volume
 Date
 2019-12-31  10285700
 2020-01-02   9532100
 2020-01-03  17778500
 2020-01-06  10133000
 2020-01-07  17882100  ,
               Open         High          Low        Close    Adj Close  \
 Date
 2019-12-31  1842.0  1853.260010  1832.229980  1847.839966  1847.839966
 2020-01-02  1875.0  1898.010010  1864.150024  1898.010010  1898.010010
 2020-01-03  1864.5  1886.199951  1864.500000  1874.969971  1874.969971
 2020-01-06  1860.0  1903.689941  1860.000000  1902.880005  1902.880005
 2020-01-07  1904.5  1913.890015  1892.040039  1906.859985  1906.859985

              Volume
 Date
 2019-12-31  2506500
 2020-01-02  4029000
 2020-01-03  3764400
 2020-01-06  4061800
 2020-01-07  4044900  ,
                   Open        High         Low       Close   Adj Close  \
 Date
 2019-12-31  204.000000  205.559998  203.600006  205.250000  205.250000
 2020-01-02  206.750000  209.789993  206.270004  209.779999  209.779999
 2020-01-03  207.210007  210.399994  206.949997  208.669998  208.669998
 2020-01-06  206.699997  212.779999  206.520004  212.600006  212.600006
 2020-01-07  212.820007  214.580002  211.750000  213.059998  213.059998

               Volume
 Date
 2019-12-31   8953500
 2020-01-02  12077100
 2020-01-03  11188400
 2020-01-06  17058900
 2020-01-07  14912400  ,
                   Open        High         Low       Close   Adj Close  \
 Date
 2019-12-31  156.770004  157.770004  156.449997  157.699997  156.833633
 2020-01-02  158.779999  160.729996  158.330002  160.619995  159.737595
 2020-01-03  158.320007  159.949997  158.059998  158.619995  157.748581
 2020-01-06  157.080002  159.100006  156.509995  159.029999  158.156342
 2020-01-07  159.320007  159.669998  157.320007  157.580002  156.714310

               Volume
 Date
 2019-12-31  18369400
 2020-01-02  22622100
 2020-01-03  21116200
 2020-01-06  20813700
 2020-01-07  21634100  ,
                   Open        High         Low       Close   Adj Close  \
 Date
 2019-12-31  289.929993  293.679993  289.519989  293.649994  291.638000
 2020-01-02  296.239990  300.600006  295.190002  300.350006  298.292145
 2020-01-03  297.149994  300.579987  296.500000  297.429993  295.392120
 2020-01-06  293.790009  299.959991  292.750000  299.799988  297.745880
 2020-01-07  299.839996  300.899994  297.480011  298.390015  296.345581

               Volume
 Date
 2019-12-31  25201400
 2020-01-02  33870100
 2020-01-03  36580700
 2020-01-06  29596800
 2020-01-07  27218000  ]

In [13]:
amazon.to_csv('Data/amazon.csv')
tesla.to_csv('Data/tesla.csv')
apple.to_csv('Data/apple.csv')
facebook.to_csv('Data/fb.csv')
microsoft.to_csv('Data/microsoft.csv')

In [14]:
import pandas as pd

In [30]:
a = pd.DataFrame()
a.head()

Empty DataFrame
Columns: []
Index: []

In [ ]:
objects = [amazon, tesla,apple, facebook, microsoft]
all_data = pd.DataFrame()
for obj in objects:
    all_data = all_data.merge(left = all_data, right = obj, how = 'inner', on = 'Date')

In [16]:
all_data = pd.merge(left = amazon, right= tesla, how = 'inner',on = 'Date')

In [17]:
all_data.head()

,Open_x,High_x,Low_x,Close_x,Adj Close_x,Volume_x,Open_y,High_y,Low_y,Close_y,Adj Close_y,Volume_y
Date,,,,,,,,,,,,
2019-12-31,1842.0,1853.260010,1832.229980,1847.839966,1847.839966,2506500,405.000000,421.290009,402.079987,418.329987,418.329987,10285700
2020-01-02,1875.0,1898.010010,1864.150024,1898.010010,1898.010010,4029000,424.500000,430.700012,421.709991,430.260010,430.260010,9532100
2020-01-03,1864.5,1886.199951,1864.500000,1874.969971,1874.969971,3764400,440.500000,454.000000,436.920013,443.010010,443.010010,17778500
2020-01-06,1860.0,1903.689941,1860.000000,1902.880005,1902.880005,4061800,440.470001,451.559998,440.000000,451.540009,451.540009,10133000
2020-01-07,1904.5,1913.890015,1892.040039,1906.859985,1906.859985,4044900,461.399994,471.630005,453.359985,469.059998,469.059998,17882100

In [19]:
all_data = pd.merge(left = all_data, right= apple, how = 'inner',on = 'Date')

In [20]:
all_data = pd.merge(left = all_data, right= facebook, how = 'inner',on = 'Date')
all_data = pd.merge(left = all_data, right= microsoft, how = 'inner',on = 'Date')

In [21]:
all_data.head()

,Open_x,High_x,Low_x,Close_x,Adj Close_x,Volume_x,Open_y,High_y,Low_y,Close_y,...,Low_y,Close_y,Adj Close_y,Volume_y,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,1842.0,1853.260010,1832.229980,1847.839966,1847.839966,2506500,405.000000,421.290009,402.079987,418.329987,...,203.600006,205.250000,205.250000,8953500,156.770004,157.770004,156.449997,157.699997,156.833633,18369400
2020-01-02,1875.0,1898.010010,1864.150024,1898.010010,1898.010010,4029000,424.500000,430.700012,421.709991,430.260010,...,206.270004,209.779999,209.779999,12077100,158.779999,160.729996,158.330002,160.619995,159.737595,22622100
2020-01-03,1864.5,1886.199951,1864.500000,1874.969971,1874.969971,3764400,440.500000,454.000000,436.920013,443.010010,...,206.949997,208.669998,208.669998,11188400,158.320007,159.949997,158.059998,158.619995,157.748581,21116200
2020-01-06,1860.0,1903.689941,1860.000000,1902.880005,1902.880005,4061800,440.470001,451.559998,440.000000,451.540009,...,206.520004,212.600006,212.600006,17058900,157.080002,159.100006,156.509995,159.029999,158.156342,20813700
2020-01-07,1904.5,1913.890015,1892.040039,1906.859985,1906.859985,4044900,461.399994,471.630005,453.359985,469.059998,...,211.750000,213.059998,213.059998,14912400,159.320007,159.669998,157.320007,157.580002,156.714310,21634100

In [25]:
cols = all_data.columns
cols

Index(['Open_x', 'High_x', 'Low_x', 'Close_x', 'Adj Close_x', 'Volume_x',
       'Open_y', 'High_y', 'Low_y', 'Close_y', 'Adj Close_y', 'Volume_y',
       'Open_x', 'High_x', 'Low_x', 'Close_x', 'Adj Close_x', 'Volume_x',
       'Open_y', 'High_y', 'Low_y', 'Close_y', 'Adj Close_y', 'Volume_y',
       'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'],
      dtype='object')

In [26]:
new_cols = ['Open_amzn', 'High_amzn', 'Low_amzn', 'Close_amzn', 'Adj_Close_amzn', 'Volume_amzn',
       'Open_tesla', 'High_tesla', 'Low_tesla', 'Close_tesla', 'Adj_Close_tesla', 'Volume_tesla',
       'Open_apple', 'High_apple', 'Low_apple', 'Close_apple', 'Adj_Close_apple', 'Volume_apple',
       'Open_facebook', 'High_facebook', 'Low_facebook', 'Close_facebook', 'Adj_Close_facebook', 'Volume_facebook',
       'Open_microsoft', 'High_microsoft', 'Low_microsoft', 'Close_microsoft', 'Adj_Close_microsoft', 'Volume_microsoft']

In [28]:
all_data.columns = new_cols

AttributeError: 'list' object has no attribute 'columns'